<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" routerLink="/">
      <img src="/emma_logo.png" alt="EMMA Insight Logo" height="50" class="me-2">
    </a>

    <div class="d-flex align-items-center ms-auto">
      <button class="me-2" routerLink="/login"
              [ngClass]="{
                'btn': true,
                'btn-outline': activePage == 'login'
              }">
        Log In
      </button>

      <button class="me-2" routerLink="/register"
              [ngClass]="{
                'btn': true,
                'btn-outline': activePage == 'register'
              }">
        Sign up
      </button>

      <button class="btn btn-dark" (click)="toggleTheme()">
        <i class="bi bi-sun" *ngIf="currentTheme === 'light'"></i>
        <i class="bi bi-moon-fill" *ngIf="currentTheme === 'dark'"></i>
      </button>
    </div>
  </div>
</nav>