<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh; min-width: 50vw;">
  <div class="form-container text-start"> <h2 class="mb-3">Enhanced Monitoring and Management for Awareness</h2>
    <p class="lead mb-4">"Drowsiness Detection Dashboard for Fleet Managers"</p>
    <p class="mb-5">Stay ahead of risks before accidents happen. Monitor all your drivers in one place.</p>

    <div class="d-grid gap-2 col-6"> <button class="btn btn-dark btn-lg" routerLink="/login">Log In</button>
    </div>
  </div>
</div>